@use '../variables' as *;

// Header Block
.header {
    padding: 2rem 0;
    position: relative;
    z-index: 100;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        .logo {
            font-size: 2rem;
            font-weight: 600;
            color: $color-secondary;

            &::after {
                content: '.';
                color: $color-primary;
            }
        }
    }
}

// Nav Block
.nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__link {
        color: $color-secondary;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
            color: $color-primary;
        }

        &--button {
            border: 1px solid $color-secondary;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;

            &:hover {
                background-color: $color-secondary;
                color: $color-white;
            }
        }
    }

    &__language {
        border: none;
        background: transparent;
        font-weight: 500;
        color: $color-secondary;
        cursor: pointer;
        font-family: $font-primary;
    }
}
