@use '../variables' as *;

// Hero Block
.hero {
    padding: 4rem 0 6rem;
    position: relative;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
    }

    &__subtitle {
        font-size: 1.25rem;
        color: $color-primary;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        letter-spacing: 2px;
    }

    &__title {
        font-family: $font-secondary;
        font-size: 5rem;
        color: $color-secondary;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        font-weight: 700;

        &::first-line {
            color: $color-secondary;
        }
    }

    &__description {
        font-size: 1rem;
        color: $color-text;
        margin-bottom: 2rem;
        line-height: 1.8;
    }

    &__buttons {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 100%;
        max-width: 500px;
        position: relative;
        z-index: 2;
    }
}
